<!DOCTYPE html>
<html lang="en" ng-app='app'>
     {{> head}}
    {{> navbar}}
    {{> navcomanda}}
<body ng-controller='controlador'>
   
    <div class="col-md-11 col-md-offset-1 col-xs-9 col-xs-offset-3 divUsuario">

        <div class="col-md-2 col-md-offset-0 fechasreport">
            <div class="row">
                <div class="col-md-12 form-group " >
                    <input type='text' class="form-control" id='datetimepicker4' ng-model="frmData.fechaReporte" ng-change="llamarComandas();$event.stopPropagation();" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 comandasT " style="background-color:rgb(247, 242, 242); color:#70DEED ">
                    <center>
                        <div class="divNumR" style="background-color: rgb(247, 242, 242); border: 2px solid #70DEED;">
                            \{{ comandas.length }}
                        </div>
                        <p style="font-size:2.5vh; text-decoration: underline">Colaciones</p>
                    </center>    
                    
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 comandas" style="background-color:#70DEED">
                    <div class="divNumR" style="background-color:#70DEED; float:left;">
                        \{{ cComida1 }}
                    </div>

                    <div class="PComan col-md-4">
                        <p >\{{ NomComida1 }}</p>
                    </div>

                    <div class="col-md-4  divinfocomida4" style="float:right; background-color:#70DEED; ">
                        <center>
                            \{{ porcionComida1.toFixed(2); }} <br>
                            Porciones
                        </center>
                    </div>
                </div>
            </div>

            

            <div class="row">
                <div class="col-md-12 comandas" style="background-color:#70DEED">
                    <div class="divNumR" style="background-color:#70DEED; float:left;">
                        \{{ cComida2 }}
                    </div>
                    
                    <div class="PComan col-md-4">
                        <p >\{{ NomComida2 }}</p>
                    </div>

                    <div class="col-md-4  divinfocomida4" style="float:right; background-color:#70DEED;">
                       <center>
                            \{{ porcionComida2.toFixed(2); }} <br>
                            Porciones
                        </center>
                    </div>
                </div>
            </div>   
        </div>
        <div class="col-md-10 col-md-offset-0">
            <div class="table-responsive" >
                <br>
                <table class="table table-condensed table-hover">
                    <tr class="headtable">
                        <th>Estatus</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                        <th>Ingesta  calórica</th>
                        <th>Porciones</th>
                        <th>Menú</th>
                        <th>Unidad de Medida</th>   
                    </tr>
                    <tr ng-repeat="comanda in comandas track by $index">
                        <td>false</td>
                        <td>\{{ comanda.nombre }}</td>
                        <td>\{{ comanda.fecha }}</td>
                        <td>\{{ comanda.calorias }}</td>
                        <td>\{{ comanda.porciones.toFixed(2); }}</td>
                        <td>\{{ comanda.menu }}</td>
                        <td>\{{ comanda.uMedida }}</td>
                        
                    </tr>
                </table>
            </div>
        </div>

    </div> 
   

<script type="text/javascript">
    $('#datetimepicker4').datepicker({
                                     beforeShowDay: $.datepicker.noWeekends,
                                     dateFormat: "yy-mm-dd",
                                     //minDate: '+2d'
                                    });
 
</script> 
    
</body>
</html>

<script src="/assets/js/Controllers/Comandas/ComidaComandaController.js"> </script>

