<!DOCTYPE html>
<html lang="en" ng-app='app'>
     {{> head}}
    {{> navbar}}
   
<body ng-controller='controlador'>
   <nav class="navbar navbar-default nav-colorverde col-md-offset-1 col-xs-offset-3" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    
  </div>
 
  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
        <li id="desayunos"><a href="/comandas">Desayunos</a></li>
        <li id="comidas"><a href="/comandaComidas">Comidas</a></li>
        <li id="cenas"><a href="/comandaCenas">Cenas</a></li>
        <li id="colacion"><a href="/comandaColaciones">Completo</a></li>
    </ul>
 
    <ul class="nav navbar-nav navbar-right" style="float:right"> 
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="\{{ imagenTipo }}" alt="" class="circular--squareUser"> \{{ nombreTipo }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                    <li><a href="" ng-click="logout();$event.stopPropagation();">Cerrar Sesion</a></li>
          
          
        </ul>
      </li>
    </ul>
  </div>
</nav>
    <div class="col-md-11 col-md-offset-1 col-xs-9 col-xs-offset-3 divUsuario">

        <div class="col-md-2 col-md-offset-0 fechasreport">
            <div class="row">
                <div class="col-md-12 form-group " >
                    <input type='text' class="form-control" id='datetimepicker4' ng-model="frmData.fechaReporte" ng-change="llamarComandas();$event.stopPropagation();" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 comandasT " style="background-color:rgb(247, 242, 242); color:#F0D441 ">
                    <center>
                        <div class="divNumR" style="background-color: rgb(247, 242, 242); border: 2px solid #F0D441;">
                            \{{ comandas.length }}
                        </div>
                        <p style="font-size:2.5vh; text-decoration: underline">Desayunos</p>
                    </center>    
                    
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 comandas" style="background-color:#F0D441; color:beige;">
                    <div class="divNumR" style="background-color:#F0D441; float:left;">
                        \{{ cComida1 }}
                    </div>

                    <div class="PComan col-md-4">
                        <p >\{{ NomComida1 }}</p>
                    </div>

                    <div class="col-md-4  divinfocomida2" style="float:right; background-color:#F0D441; ">
                        <center>
                            \{{ porcionComida1.toFixed(2); }} <br>
                            Porciones
                        </center>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 " style="background-color: rgb(247, 242, 242); color:#F0D441; font-size:4vh margin-bottom: 1vh; height:6vh;">
                    <center>
                        <p>Especiales</p>  
                    </center>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 comandas" style="background-color:#FCF0AF">
                    <div class="divNumR" style="background-color:#FCF0AF; float:left; border-color:#F0D441;">
                        \{{ cComida2 }}
                    </div>
                    
                    <div class="PComan col-md-4">
                        <p >\{{ NomComida2 }}</p>
                    </div>

                    <div class="col-md-4  divinfocomida2" style="float:right; background-color:#F0D441; color:beige;">
                       <center>
                            \{{ porcionComida2.toFixed(2); }} <br>
                            Porciones
                        </center>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 comandas" style="background-color:#FCF0AF">
                    <div class="divNumR" style="background-color:#FCF0AF; float:left; border-color:#F0D441; ">
                        \{{ cComida3 }}
                    </div>
                    
                    <div class="PComan col-md-4">
                        <p >\{{ NomComida3 }}</p>
                    </div>
                    <div class="col-md-4  divinfocomida2" style="float:right; background-color:#F0D441; color:beige;">
                        <center>
                            \{{ porcionComida3.toFixed(2); }} <br>
                            Porciones
                        </center>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-0">
            <div class="table-responsive" >
                <br>
                <table class="table table-condensed table-hover">
                    <tr class="headtable">
                        <th>Estatus</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                        <th>Ingesta  calórica</th>
                        <th>Porciones</th>
                        <th>Menú</th>
                        <th>Unidad de Medida</th>   
                    </tr>
                    <tr ng-repeat="comanda in comandas track by $index">
                        <td><label ng-hide="\{{ comanda.status }}"><input type="checkbox" id="cbox1" value="first_checkbox" ng-model="checked" ng-change="comandaLista(comanda);$event.stopPropagation();"> PENDIENTE</label>
                            <label ng-show="\{{ comanda.status }}">✔️ ¡LISTO!</label>
                        </td>
                        <td>\{{ comanda.nombre }}</td>
                        <td>\{{ comanda.fecha }}</td>
                        <td>\{{ comanda.calorias }}</td>
                        <td>\{{ comanda.porciones.toFixed(2); }}</td>
                        <td>\{{ comanda.menu }}</td>
                        <td>\{{ comanda.uMedida }}</td>
                        
                    </tr>
                </table>
            </div>
        </div>

    </div> 
   

<script type="text/javascript">
    $('#datetimepicker4').datepicker({
                                     beforeShowDay: $.datepicker.noWeekends,
                                     dateFormat: "yy-mm-dd",
                                     dayNamesMin: [ "Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab" ],
                                     monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ],
                                     //minDate: '+2d'
                                    });
 
</script> 
    
</body>
</html>

<script src="/assets/js/Controllers/Comandas/DesayunoComandaController.js"> </script>
