<!DOCTYPE html>
<html lang="en" ng-app='app'>


<body style="padding: 0vh;" ng-controller='controlador'>
    {{> head }}
    {{> navbar}}
    
    <nav class="navbar navbar-default nav-colorverde col-md-offset-1 col-xs-offset-3" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    
  </div>
 
  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    
 
    <ul class="nav navbar-nav navbar-right" style="float:right"> 
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="\{{ imagenTipo }}" alt="" class="circular--squareUser"> \{{ nombreTipo }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                    <li><a href="" ng-click="logout();$event.stopPropagation();">Cerrar Sesion</a></li>
          
        </ul>
      </li>
    </ul>
  </div>
</nav>
    <div class="col-md-2 col-md-offset-5 col-xs-9 col-xs-offset-3" style="margin-bottom: 2vh; margin-top:-1.5vh">
        <div class="col-md-12 form-group " >
            <input type='text' class="form-control" id='datetimepicker4' ng-model="frmData.fechaReporte" ng-change="llamarComandas();$event.stopPropagation();" />
        </div>
    </div>

    <div class="col-md-11 col-md-offset-1 col-xs-9 col-xs-offset-3 divUsuario" >
        
        <div class="table-responsive" >
            <table id="example" class="table table-condensed table-hover">
                <thead>
                    <tr class="headtable">
                        <th>Estado</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Dirección</th>
                        <th>Comentarios</th>
                        <th>Menú</th>  
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="entrega in entregas track by $index">
                        <td>
                            <label ng-hide="\{{ entrega.entrega }}"><input type="checkbox" id="cbox1" value="first_checkbox" ng-model="checked" ng-change="entregaLista(entrega);$event.stopPropagation();"> PENDIENTE</label>
                            <label ng-show="\{{ entrega.entrega }}">✔️ ¡LISTO!</label>
                        </td>
                        <td>\{{ entrega.nombre }}</td>
                        <td>\{{ entrega.fecha }}</td>
                        <td>\{{ entrega.nombre }}</td>
                        <td>\{{ entrega.hora }}</td>
                        <td>\{{ entrega.direccion }}</td>
                        <td>\{{ entrega.comida }}</td>  
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="loading" class="loading col-md-2 col-md-offset-3"><img src="/assets/img/loading.gif"></div>
    </div>

<script type="text/javascript">
    $('#datetimepicker4').datepicker({
                                     dateFormat: "yy-mm-dd",
                                      dayNamesMin: [ "Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab" ],
                                     monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ],
                                     minDate: '0d'
                                    });


     
</script>
    
</body>
</html>


<script src="/assets/js/Controllers/Entregas/EntregasController.js"> </script>