<!DOCTYPE html>
<html lang="en" ng-app='app'>
    {{> head}}
    {{> navbar}}
 
<body ng-controller='controlador'>
    <nav class="navbar navbar-default nav-colorverde col-md-offset-1 col-xs-offset-3" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    
  </div>
 
  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
        <li id="desayunos"><a href="/menu">Desayunos</a></li>
        <li id="comidas"><a href="/menuComidas">Comidas</a></li>
        <li id="cenas"><a href="/menuCenas">Cenas</a></li>
        <li id="colaciones"><a href="/menuColaciones">Colación</a></li>
        <li id="fechas"><a href="/menuFechas">Fechas</a></li>
    </ul>
 
    <ul class="nav navbar-nav navbar-right" style="float:right"> 
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="\{{ imagenTipo }}" alt="" class="circular--squareUser"> \{{ nombreTipo }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                    <li><a href="" ng-click="logout();$event.stopPropagation();">Cerrar Sesion</a></li>
          
        </ul>
      </li>
    </ul>
  </div>
</nav>

    <div class="containerComanda col-md-11 col-md-offset-1 col-xs-offset-3  col-xs-9">
        
        <div class=" col-md-6 col-xs-12 conHorizontal1 ">
            <img src="/assets/img/comida-menu.png" alt="" class="col-md-offset-1 img" >
           <form action=""> 
                <div class="col-md-5 col-md-offset-1 col-xs-12 formcomi centroformandbutom" >
                        <div class="form-group">
                        <label for="titulo" style="color: black"><b> *Título</b></label>
                        <br>
                        <input type="text" placeholder="Max 30 caracteres" name="nombre" id="nombre"  class="inputalim form-control" maxlength="30" ng-model="frmData.nombre" pattern="[A-Za-z ]+" required>
                            

                        </div>
                        <br>
                        <div class="form-group">
                            <label for="descripcion" style="color: black"><b>*Descripción</b></label>
                            <br>
                            <input type="text" placeholder="Max 60 caracteres" name="descripcion" id="descripcion" class="inputalim form-control" maxlength="60" ng-model="frmData.descripcion" pattern="[A-Za-z0-9 ]+" required >
                        </div>
                        <br>
                        <div class="form-group col-md-6 col-xs-12">
                            <label for="calorias" style="color: black"><b>*Calorias por porción</b></label>
                            <br>
                            <input type="text" placeholder="Max 17 caracteres" name="calorias" id="calorias" class="inputalim form-control" maxlength="7" ng-model="frmData.calorias" pattern="[0-9]+" required  >
                        </div>
                        <div class="form-group col-md-6  col-xs-12" style="float:left">
                            <label for="medidas" style="color: black"><b>*Unidades de medida</b></label>
                            <br>
                            <input type="text" placeholder="Max 17 caracteres" name="medidas" id="medidas" class="inputalim form-control" maxlength="17" ng-model="frmData.medidas" pattern="[A-Za-z ]+" required >
                        </div>
                </div> 
            </form>
        </div>
        <br>
        <div class="col-md-6 col-xs-12 imagenform centroformandbutom">                                            
            <div>
                <img id="img1" ng-show="imagen" class="imagencomida" ng-click="cancelarImagen();$event.stopPropagation();"><br/>
                <input id="inputFile1" type="file" ng-show="imagen" name="inputFile1" ng-model="frmData.inputFile1">
                <img src="/assets/img/imagen-predeterminado-comida-menu.png" alt="" srcset="" class="imagencomida" ng-show="!imagen" ng-click="cambiarImagen()">
            </div>
            <br>
            <div>
            <button type="submit" class="formbuttom btn" ng-show="!modify" ng-click="agregarComida();$event.stopPropagation();">Subir menú</button>
            <button type="submit" class="formbuttom btn" ng-show="modify" ng-click="modifyComida();$event.stopPropagation();">Modificar Menu</button>
            <button type="submit" class="cancelarbtn btn" ng-show="modify" ng-click="cancelarModify();$event.stopPropagation();">Cancelar</button>
            </div>                 
        </div>
        
        <div class="col-md-12 col-xs-12 conHorizontal2">
            <div class="table-responsive">
                 <table class="table table-condensed table-hover tabla-menu">
                    <tr>
                        <th>Titulo</th>
                        <th>Descripcion</th>
                        <th>Calorias por porción</th>
                        <th>Unidades de medida</th>
                        
                    </tr>
                    <tr ng-repeat="comida in comidas track by $index">
                       <td><img src="\{{ comida.imagen || imagenDefault }}" alt="" class="circular--square">    \{{ comida.nombre }}</td> 
                       <td>\{{ comida.descripcion }}</td>
                       <td>\{{ comida.calorias }}</td>
                       <td>\{{ comida.medidas }}</td>
                       <td class="editformComanda"><a href="#" ng-click="selectObject(comida);$event.stopPropagation();" > editar </a></td>
                       
                    </tr>    
                </table>
            </div>

        </div>
        
    </div>
</body>
</html>
<script src="/assets/js/Controllers/Menu/ComidaController.js"> </script>