<!DOCTYPE html>
<html lang="en" ng-app='app'>

<body ng-controller='controlador'>

    {{> head }}
    {{> navbar}}
    
    <nav class="navbar navbar-default nav-colorverde col-md-offset-1 col-xs-offset-3" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    
  </div>
 
  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    
 
    <ul class="nav navbar-nav navbar-right" style="float:right"> 
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="\{{ imagenTipo }}" alt="" class="circular--squareUser"> \{{ nombreTipo }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                    <li><a href="" ng-click="logout();$event.stopPropagation();">Cerrar Sesion</a></li>
          
        </ul>
      </li>
    </ul>
  </div>
</nav>

    <div class="col-md-11 col-md-offset-1 col-xs-9 col-xs-offset-3" style="min-height: 90%; ">
        <div class="col-md-2 col-md-offset-0 fechasreport">
            <div class="row">
                <div class="col-md-12 form-group report1" >
                    <input type='text' class="form-control" id='datetimepicker4' ng-model="frmData.fechaReporte" ng-change="llamarReportes();$event.stopPropagation();" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 reporte " style="background-color:#F0D441" ng-click="Llegomal();$event.stopPropagation();">
                    <center>
                        <div class="divNumR" style="background-color:#F0D441" >
                            \{{ reportes.cEstado }}
                        </div>
                        
                        Mi comida llegó en mal estado
                    </center>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 reporte" style="background-color:#00C7A9" ng-click="Llegotarde();$event.stopPropagation();">
                    <center>
                        <div class="divNumR" style="background-color:#00C7A9">
                            \{{ reportes.cTarde}}
                        </div>
                        
                        Mi comida llegó tarde
                    </center>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12 reporte" style="background-color:#FFA16F" ng-click="Nollego();$event.stopPropagation();">
                    <center>
                        <div class="divNumR" style="background-color:#FFA16F">
                            \{{ reportes.cNoLlego }}
                        </div>
                        \{{ reportes.cNoLlego }}
                        Mi comida no llegó
                    </center>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 reporte" style="background-color:#B1D236">
                    <center>
                        <div class="divNumR" style="background-color:#B1D236">
                            
                        </div>
                        
                        Contáctanos
                    </center>
                </div>
            </div>

        </div>

        <div class="col-md-10 col-md-offset-0">
                <div class="table-responsive" >
                    
                    <table class="table table-condensed table-hover">
                        <tr class="headtable">
                            <th>Estatus</th>
                            <th>Usuario</th>
                            <th>Plan</th>
                            <th>Fecha</th>
                            <th>Teléfono</th>
                            <th>Alimentos</th>
                            <th>Comentarios</th>  
                        </tr>

                        <tr ng-repeat="tabla in tabla track by $index">
                            <td>
                                <label ng-hide="\{{ tabla.status }}"><input type="checkbox" id="cbox1" value="first_checkbox" ng-model="checked" ng-change="reporteListo(tabla);$event.stopPropagation();"> PENDIENTE</label>
                                <label ng-show="\{{ tabla.status }}">✔️ ¡LISTO!</label>
                            </td>
                            <td>\{{ tabla.nombre }}</td>
                            <td>\{{ tabla.plan }}</td>
                            <td>\{{ tabla.fecha }}</td>
                            <td>\{{ tabla.telefono }}</td>
                            <td>\{{ tabla.nomCom }}</td>
                            <td>\{{ tabla.comentarios }}</td>
                        </tr>
                    </table>
                </div>
            <div ng-show="loading" class="loading col-md-2 col-md-offset-4"><img src="/assets/img/loading.gif"></div>
        </div>
        
        
        
    </div>

    

<script type="text/javascript">
    $('#datetimepicker4').datepicker({
                                     beforeShowDay: $.datepicker.noWeekends,
                                     dateFormat: "yy-mm-dd",
                                     dayNamesMin: [ "Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab" ],
                                     monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ],
                                     //minDate: '+2d'
                                    });
 
</script>
    
</body>
</html>

<script src="/assets/js/Controllers/Reportes/ReportesController.js"> </script>