<!DOCTYPE html>
<html ng-app='app'>

    {{> head}}
    {{> navbar}}
   

    <body  ng-controller='controlador'>
        <nav class="navbar navbar-default nav-colorverde col-md-offset-1 col-xs-offset-3" role="navigation" >
            <!-- El logotipo y el icono que despliega el menú se agrupan
                para mostrarlos mejor en los dispositivos móviles -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-ex1-collapse">
                <span class="sr-only">Desplegar navegación</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                
            </div>
            
            <!-- Agrupar los enlaces de navegación, los formularios y cualquier
                otro elemento que se pueda ocultar al minimizar la barra -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li id="AC" style="color: white"><a href="/usuarios" >Activos</a></li>
                    <li id="IN" style="color: white"><a href="/usuariosInactivos">Inactivos</a></li>
                
                </ul>
                <ul class="nav navbar-nav navbar-right" style="float:right"> 
                <li class="dropdown" >
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="\{{ imagenTipo }}" alt="" class="circular--squareUser"> \{{ nombreTipo }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                    <li><a href="" ng-click="logout();$event.stopPropagation();">Cerrar Sesion</a></li>
                    
                    
                    </ul>
                </li>
                </ul>
                </ul>
            </div>
        </nav>

        
        <div class="col-md-11 col-md-offset-1 col-xs-9 col-xs-offset-3 divUsuario" >
            <div class="table-responsive" >
                
                <table class="table table-condensed table-hover">
                    <tr class="headtable">
                       
                        <th>Usuario</th>
                        <th>Método de pago</th>
                        <th>Plan contratado</th>
                        <th>Total</th>
                        <th>Peso</th>
                        <th>Estatura</th>
                        <th>Fecha de nacimiento</th>
                        <th>Sexo</th>
                        <th>IMC</th>
                        <th>DietaCalorica</th>
                        
                    
                        
                    </tr>



                    <tr ng-repeat="usuario in usuarios track by $index">
                        <td>\{{ usuario.nombre }}</td>
                        <td>\{{ usuario.metodoPago }}</td>
                        <td>\{{ usuario.plan }}</td>
                        <td>$ \{{ usuario.total }}</td>
                        <td>\{{ usuario.peso }} KG</td>
                        <td>\{{ usuario.estatura }} CM</td>
                        <td>\{{ usuario.fechaNaci }}</td>
                        <td>\{{ usuario.genero }}</td>
                        <td>\{{ usuario.imc }}</td>
                        <td>\{{ usuario.dietaCalorica }}</td>   
                    </tr>
                </table>
            </div>
            <div ng-show="loading" class="loading col-md-2 col-md-offset-4"><img src="/assets/img/loading.gif"></div>
        </div>
    </body>
</html>

<script src="/assets/js/UsarioInactivoController.js"></script>